<div id="underNav"></div>

<div id="hello">
    <h1 id="hello-text">Hello!</h1>
    <h1>My name is</h1>
</div>
<div id="name-and-pic">
    <img src="assets/profile_pic.JPG" alt="" height="300px" id="profile" />
    <div id="name">
        <br />
        <h2>Ethan Wright</h2>
        <h3>Computer Science Student at</h3>
        <h3>West Virginia University</h3>
    </div>
</div>
<div id="me">
    <h1>What do I do?</h1>
    <p>
        Whatever interests me! I currently have a list of projects that I want to complete. Some of these projects are software projects, as other are hardware projects. 
        As I complete these projects, I would like to vlog the progress, and upload it to YouTube. This would show my thought process behind making the finished product, 
        but I could also show off the finished products.
    </p>
    <br /><p>Currently, some of the topics that interest me include:</p>
    <ul>
        <li>Machine Learning</li>
        <li>Operating Systems</li>
        <li>Cyber Security</li>
        <li>Software Development</li>
    </ul>
</div>