<div class="card mb-3 mt-4 border border-primary">
    <a href={{link}} target="_blank" rel="noopener noreferrer">
        <div class="row g-0">
            <div class="col-auto me-0">
                <img src={{img}} class="img-fluid rounded" alt="">
            </div>
            <div class="col">
                <div class="card-body">
                    <h5 class="card-title text-left">{{site}}</h5>
                    <div class="row">
                        <p class="fw-bold">{{username}}</p>
                    </div>
                </div>
            </div>
        </div>
    </a>
</div>