.navbar {
    background-color: black !important;
}

.navbar-brand {
    padding-left: 10px;
}

.navbar-brand:hover {
    cursor: default;
}

.nav-item {
    padding-left: 2%;
    padding-right: 2%;
}

.nav-item:hover {
    text-decoration: underline;
}

a {
    color: white !important;
}
