.navbar {
    background-color: black !important;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100vw;
    z-index: 9999;
    height: 50px;
}

.navbar-brand {
    padding-left: 10px;
}

.navbar-brand:hover {
    cursor: default;
}

.nav-item {
    padding-left: 2%;
    padding-right: 2%;
}

.nav-item:hover {
    text-decoration: underline;
}

a {
    color: white !important;
}
