<div class="card mb-3 mt-4 border border-primary">
    <div class="col">
        <div class="card-body">
            <a href={{url}} target="_blank" rel="noopener noreferrer">
                <h5 class="card-title text-center">{{name}}</h5>
            </a>
            <div class="row text-center">
                <p id="description">{{description}}</p>
            </div>
            <div class="row">
                <p id="languages">Language: {{languages}}</p>
                <p id="pushed">Last pushed to: {{pushed}}</p>
            </div>
        </div>
    </div>
</div>